$COLOR_MAS: rgb(32,59,129);
$COLOR_FEM: rgb(207,25,14);
$COLOR_NEU: rgb(84,159,14);

.actions {

}

.progress-group {
  margin-bottom: 12px;

  .progress-label {
    font-weight: 700;
  }
}

.btn.btn-circle {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 50% !important;

  &:before {
    content: "";
    display: block;
    padding-bottom: 50%;
  }
  &:after {
    content: "";
    display: block;
    padding-bottom: 50%;
  }
}

.bg-masculine {
  background-color: $COLOR_MAS;
}

.bg-feminine {
  background-color: $COLOR_FEM;
}

.bg-neuter {
  background-color: $COLOR_NEU;
}
